html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  padding: 0;
}

.buttonZone {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px;
  width: 300px;
  margin-bottom: 20px;
}

button {
  border: 1px solid #aaaaaa;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 2px;
  color: #001219;
  background-color: #aaaaaa;
  width: 100px;
}

button:active {
  background-color: #cecaca;
  color: #001219;
}

.buttonZone #form {
  display: flex;
}

.selections {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}

table {
  border: 2px #001219 solid;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 300px;
  border-spacing: 0;
}

#board {
  width: 300px;
  height: 300px;
}

#ownBoardSettings {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.gameZone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

p {
  width: 300px;
}

.cell {
  height: 33px;
  width: 33px;
  margin: 0;
  border: 1px rgba(0, 0, 0, 0.7) solid;
  background-color: rgb(226, 231, 231);
  text-align: center;
  font-weight: 300;
}

.wrong {
  border: 2px solid red;
}

.hint {
  border: 2px solid #008000;
}

.acc {
  background-color: #91bad6;
}

.set {
  border: 1px black solid;
  font-weight: 500;
}

input {
  /* width: 28.875px; */
  padding: 0;
  margin: 0;
  all: unset;
}

.input {
  /* width: 28.875px; */
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

.cell:focus-within {
  border: 2px rgba(0, 0, 255, 0.7) solid;
}

#gamePopup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  left: 50%;
  margin-left: -175px;

  width: 350px;
  z-index: 9999;
}

.ask {
  margin: auto;
  background-color: rgb(226, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border-radius: 2px;
  display: flex;
  border: 1px black solid;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
}

.buttonAsk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

.difficultyArea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.diff-btn:nth-child(2) {
  margin: 0;
}

.difficultyArea:first-child {
  margin-bottom: 10px;
}

.gamePopup .btn {
  margin: 100px;
}

.hidden {
  display: none;
}

h4 {
  margin: 10px;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
}

#numbers {
  width: 301px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  text-align: center;
  font-weight: 500;
}

.done {
  color: #aaaaaa;
}
